@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-outline-primary" asp-controller="Search" asp-action="Index">Search Artist</a>
    <a class="btn btn-outline-primary" asp-controller="Song" asp-action="Index">Search Song</a>
</div>
